<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ab2dcaa8-51d3-4385-9200-8615562bec1f" Publisher="CN=Jiajianiu" Version="1.0.0.0" />
  <Properties>
    <DisplayName>icreate-test2</DisplayName>
    <PublisherDisplayName>Jiajianiu</PublisherDisplayName>
    <Logo>Assets\Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="icreate_test2.App">
      <VisualElements DisplayName="IVLE Metro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="icreate-test2" ForegroundText="light" BackgroundColor="#003399">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#003399" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="IVLE Metro">
            <DisplayName>IVLE Metro</DisplayName>
            <SupportedFileTypes>
              <FileType>.doc</FileType>
              <FileType>.ppt</FileType>
              <FileType>.pdf</FileType>
              <FileType>.docx</FileType>
              <FileType>.pptx</FileType>
              <FileType>.xlxs</FileType>
              <FileType>.xls</FileType>
              <FileType>.txt</FileType>
              <FileType>.jpeg</FileType>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>